@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
  font-family: 'ralewayregular', sans-serif;
}

.container {
  margin: 0 auto;
  width: 1056px;
}
span {
  color: #45c5a9;
  font-weight: bolder;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}

header {
  background: #000;
  color: #fff;
  line-height: 40px;
}
header h1 {
  float: left;

}
header nav {
  float: right;
}
header li {
  display: inline-block;
}
header a {
  color: #fff;

  padding-left: 20px;
}
.menu > li {
  position: relative;
}
.submenu {
  position: absolute;
  top: 40px; /*mozna tez dac 100% wzgledem rodzica*/
  background: #000;
  min-width: 100px;
  padding: 10px;
  display: none;
}
li:hover > .submenu {
  display: block;
}
.submenu li {
  display: block;
}
.upper {
  height: 505px;
  width: 100%;
  background: linear-gradient(to bottom, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.head {
  height: 505px;
  width: 1056px;
  border: 1px solid red;
  margin: 0 auto;
  box-sizing: border-box;

}
.black_chair {
/*width: 600px;
height: 400px;*/
float: left;
/*border: 1px solid red;*/
margin-top: 50px;
width: 50%;
background-size: cover;
}
.head h1 {
  text-align: center;
  /*border: 1px solid red;*/
  width: 50%;
  float: right;
  font-size: 40px;
  margin-top: 120px;
  font-weight:bolder;
  padding-right: 10px;
}
.head p {
  text-align: center;
  padding-top: 200px;
  /*border: 1px solid red;*/
}
.head button {
  float: right;
  height: 50px;
  width: 270px;
  margin-right: 130px;
  background-color: #45c5a9;
  color: white;
  border-radius: 10px;
  margin-top: 30px;
  font-size: 25px;


}
.white {
  width: 100%;
  height: 350px;
  border: 1px solid red;
  background-color: white;
  box-sizing: border-box;
}
div[class*='picture'] {
  height: 60%;
  width: 20%;
  border: 1px solid red;
  float: left;
  margin-left: 110px;
  margin-top: 50px;
  box-sizing: border-box;


}  

.main {
  width: 100%;
  height: 1000px;
  background-color: #f1f1f1;
  border: 1px solid red;
}
.footer {
  width: 100%;
  height: 800px;
  border: 1px solid red;
}
/*div {
width: 0;
height: 0;
border-top: 10px solid red;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 10px solid transparent;
}*/
